[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
autopep8 = "*"

[packages]
Django = "*"
django-cors-headers = "*"
v20 = "*"
pyyaml = "*"
mysqlclient = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
