{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "css/scrumboard.css" %}" >
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_gray.css" %}" >
        <title>Trading platform 1.0</title>
    </head>
    <body ng-app="scrumboard.demo">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Trading Platform</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>

              <button type="button" class="btn btn-outline-danger">Exit</button>
          </div>



        </nav>

        <ng-view></ng-view>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
        <script src="{% static "js/stock.js" %}"></script>
        <script src="{% static "js/stock.config.js" %}"></script>
        <script src="{% static "js/stocks.controller.js" %}"></script>
        <script src="{% static "js/login.controller.js" %}"></script>
        <script src="{% static "js/login.service.js" %}"></script>
        <script src="{% static "js/service.js" %}"></script>
        <script src="{% static "js/Chart.js" %}"></script>
        <script src="{% static "js/login.controller.js" %}"></script>
        <script src="{% static "js/login.service.js" %}"></script>



    </body>
</html>
